
$color_darkblack : #0C1E1A;
$font_darkgreen : #1E6655;
$font_sage_green : #E4EFEC;
$font_sea_green : #B7CEC9;
$font_verylight_green : #EFFAF7;
$font_white: #FFFFFF;

$heading_small_14: 14px;
$heading_big_40: 40px;


.footer {
    display: flex;
    justify-content: space-between;

    h1 {
        font-size: $heading_big_40;
        line-height: 40px;
        font-family: "NewsReader";
        font-weight: 500;
        color: $color_darkblack;
        margin: 0px 0px; 
    }

    .footer-content {
        display: flex;
        gap: 50px;
    }

    .footer-content ul li {
        list-style: none;
        font-size: 20px;
        font-family: "Outfit";
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .footer-icon ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

}


.footer-bottom ul li {
    list-style: none;
    color: $font_sea_green;
    font-family: "Outfit";
}

.footer-bottom ul {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 24px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.footer-bottom {
    padding: 150px 0px 0px;
}

ul {
    padding-inline-start: 0px;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;

        .footer-content {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 20px 0px 0px;
        }
    }

    .footer-bottom {
        padding: 0px 0px;
    }

    .footer-bottom ul {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        gap: 12px;
    }

    .footer-icon ul {
        justify-content: start;
    }

    .footer-content ul li {
        font-size: 12px;
        line-height: 15px;
    }

    .footer h1 {
        font-size: 32px;
        line-height: 32px;
    }

    .footer-bottom ul li {

        font-size: 12px;
        line-height: 15px;
    }

}